@charset "UTF-8";

body{
  font-family:lato;
}

main{
  margin-top:94px;
  }

.is-raleway{
  font-family:raleway;
}

a{
text-decoration:none;
display:inline-block;
}

.is_inner{
  margin: 0 auto;
  width:1100px;
}

header{
  position: fixed;
  top:0;
  left:0;
  background-color: #fff;
  width: 100%; 
  z-index: 10;
  padding: 15px 0;
}

.header-bolt{
  float:left;
  color:gray;
}

.header-contact{
  float: right;
  background-color: #74cfae;
  color:#fff;
  font-size:12px;
  margin:10px 0;
  padding:14px 12px;
  transition: .3s;
}

.header-contact:hover{
  color:#333;
}

.title{
  background-color: #f2f2f2;
}

.title_inner{
  color: #74cfae;
  font-size:90px;
  font-weight:700;
}

.title-content{
  text-align: center;
  padding: 250px 0;
}

.title-content__text{
  font-size: 30px;
  font-weight:lighter;
  color:#c0c0c0;
  margin-top:20px;
}

.top{
 background-color: #74cfae;
}

.top_inner{
  display: flex;
  justify-content: space-around;
  padding-top:50px;
}

.iphone{
  width: 300%;
}

img{
  vertical-align: bottom;
 }

.top-content__text{
  text-align: center;
  font-size:24px;
  color:#fff;
  width: 700%;
}

.top-content__summary{
  font-size: 20px;
  margin-top:35px;
}

.work{
  background-color: #f2f2f2;
}

.work_inner{
  padding:60px 0 70px;
}

.work-content__heading{
  font-size:24px;
  text-align: center;
  color:#333;
  margin-bottom:40px;
}

.work-thumbnail{
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
}

.work-content__icons{
  font-size:0;
  transition: .3s;
  opacity: .7;
  margin-top:80px;
  margin-right:100px;
}
.work-content__icons:nth-child(-n+3){
  margin-top:0px;
}

.work-content__icons:nth-of-type(3n){
  margin-right:0px;
}

.work-content__icons:hover{
  opacity: 1;
}

/*文字を囲むタグ*/
.work-summary{
  display:flex;
  align-items: center;
  margin-top:90px;
}

.work-summary__text{
  margin:0 90px 0;
  width: 60%;
  text-align: center;
}

.work-summary__email{
  color:#fff;
  background-color:#74cfae;
  font-size:12px; 
  padding:14px 12px;
  transition: .3s; 
}

.work-summary__email:hover{
  cursor: pointer;
  color:#333;
}

.skills{
  background-color:#4e4e4e;
}

.skills_inner{
  font-size:0;
  padding:70px 0 100px;
  text-align: center;
}

.skills-content__heading{
  color:#fff;
  font-size: 24px;
  margin-bottom:50px;
}

.skills-items{
  display: inline-block;
  margin-left:180px;
}

.skills-items:first-child{
  margin-left:0;
}

.skills-content__text{
  margin-top: 15px;
  color:#fff;
  font-size: 16px;
}

.sns{
  background-color: #f2f2f2;
}
.sns_inner{
  display:flex;
  justify-content: center;
  padding:200px 0;
}

.sns-content_icons{
  color: #74cfae;
  width: 185px;
  padding:10px 0;
  text-align: center;
  transition: .3s;
}

.sns-content_icons:hover{
  color: #74cfae;
  width:185px;
  background-color:#fff;
}

footer{
  padding-top:20px;
  padding-bottom:25px;
  background-color: #74cfae;
}

.footer_text{
  color:#fff;
  text-align:right;