@charset "UTF-8";

/*====================
{{スマホを基本設計にする}}
- 〜766px：SP
- 767px〜1199px：TAB
- 1200px〜：PC
====================*/

/* 共通
------------------------------ */
body{
  font-family:lato;
}

main{
  margin-top:94px;
}

a{
  text-decoration:none;
  display:inline-block;
}

.is-raleway{
  font-family:raleway;
}

header{
  position: fixed;
  top:0;
  left:0;
  background-color: #fff;
  width: 100%; 
  z-index: 10;
}

.header_inner{
 display:flex;
 justify-content:space-between;
 padding: 15px 0;
}

.header-bolt{
  color:gray;
}

.header-contact{
  background-color: #74cfae;
  color:#fff;
  font-size:12px;
  margin:10px 0;
  padding:14px 12px;
  transition: .3s;
}

.header-contact:hover{
  color:#333;
}

.hamburger{
  display: none;
}

.title{
  background-color: #f2f2f2;
}

.title_inner{
  color: #74cfae;
  font-size:90px;
  font-weight:700;
  padding: 250px 0;
}

.title-content{
  text-align: center;
}

.title-content__text{
  font-size: 30px;
  font-weight:lighter;
  color:#c0c0c0;
  margin-top:20px;
}

.top{
 background-color: #74cfae;
}

.work{
  background-color: #f2f2f2;
}

.work_inner{
  padding:60px 0 70px;
}

.work-content__heading{
  font-size:24px;
  text-align: center;
  color:#333;
  margin-bottom:40px;
}

.work-content__icons:hover{
  opacity: 1;
}

.work-summary__email{
  color:#fff;
  background-color:#74cfae;
  font-size:12px; 
  padding:14px 12px;
  transition: .3s; 
}

.work-summary__email:hover{
  cursor: pointer;
  color:#333;
}

.skills{
  background-color:#4e4e4e;
}

.skills_inner{
  font-size:0;
  padding:70px 0 100px;
  text-align: center;
}

.skills-content__heading{
  color:#fff;
  font-size: 24px;
  margin-bottom:50px;
}

.skills-content__text{
  margin-top: 15px;
  color:#fff;
  font-size: 16px;
}
.sns{
  background-color: #f2f2f2;
}

footer{
  background-color: #74cfae;
}

.footer_inner{
  padding:20px 0 25px;
}

.footer_text{
  color:#fff;
  text-align:right;
}

/* 1200px〜：PC
------------------------------ */
  @media screen and (min-width:1200px) {
    .is_inner{
    margin: 0 auto;
    width:1100px;
    }

    .top_inner{
      display: flex;
      justify-content: space-around;
      padding-top:50px;
    }

    .iphone{
      width: 300%;
    }

    img{
      vertical-align: bottom;
    }

    .top-content__text{
      text-align: center;
      font-size:24px;
      color:#fff;
      width: 700%;
    }

    .top-content__summary{
      font-size: 20px;
      margin-top:35px;
    }

    .work-thumbnail{
      display: flex;
      justify-content:center;
      flex-wrap:wrap;
    }

    .work-content__icons{
      font-size:0;
      transition: .3s;
      opacity: .7;
      margin-top:80px;
      margin-right:100px;
    }

    .work-content__icons:nth-child(-n+3){
      margin-top:0px;
    }

    .work-content__icons:nth-of-type(3n){
      margin-right:0px;
    }

    /*文字を囲むタグ*/
    .work-summary{
      margin-top:90px;
      display:flex;
      align-items: center;
    }

    .work-summary__text{
      margin:0 90px 0;
      width: 60%;
      text-align: center;
    }

    .skills-items{
      display: inline-block;
      margin-left:180px;
    }

    .skills-items:first-child{
      margin-left:0;
    }

    .sns_inner{
      display:flex;
      justify-content: center;
      padding:200px 0;
    }

    .sns-content_icons{
      color: #74cfae;
      width: 185px;
      padding:10px 0;
      text-align: center;
      transition: .3s;
    }

    .sns-content_icons:hover{
      color: #74cfae;
      width:185px;
      background-color:#fff;
    }
  }
/* 767px〜1199px：TAB
------------------------------ */
  @media screen and (min-width:767px) and (max-width:1199px) {

    .is_inner{
      margin: 0 auto;
      width:97%;
    }
    
    .top_inner{
      padding:50px 0 25px;
      text-align: center;
    }
    
    .top-content__text{
      text-align: center;
      font-size:24px;
      color:#fff;
      margin-top: 20px;
    }
    
    .top-content__summary{
      font-size: 20px;
      margin:35px 50px ;
    }
    
    .work-thumbnail{
      text-align:center;
    }
    
    .work-content__icons{
      font-size:0;
      transition: .3s;
      opacity: .7;
    }
    
    .work-content__icons:nth-child(4){
      margin-top:80px;
    }
    
    /*文字を囲むタグ*/
    .work-summary{
      margin-top:80px;
      text-align: center;
    }
    
    .work-summary__text{
      margin:0 auto;
      width: 50%;
      padding-bottom:40px;
    }

    .skills-items{
      margin-top:88px;
    }
    
    .skills-items:first-child{
      margin-top:0;
    }
    
    .sns_inner{
      display:flex;
      justify-content: center;
      padding:200px 0;
    }
    
    .sns-content_icons{
      color: #74cfae;
      width: 185px;
      padding:10px 0;
      text-align: center;
      transition: .3s;
    }
    
    .sns-content_icons:hover{
      color: #74cfae;
      width:185px;
      background-color:#fff;
    }
  }
  
  /* 〜766px：SP
  ------------------------------ */
  @media screen and (max-width:766px) {

    .is_inner{
      margin: 0 auto;
      width:97%;
    }

    .header-contact{
      display: none;
    }

    .hamburger{
      display:block;
      padding: 10px;
      border:1px solid #ddd;
      border-radius:4px;
    }

    .hamburger_line{
      margin-top:10px;
      width: 35px;
      height: 1px;
      background-color: #ddd;
    }
    
    .title_inner{
      color: #74cfae;
      font-size:80px;
      font-weight:700;
      padding: 160px 0 130px;
    }
    
    .top_inner{
      padding:50px 0 25px;
      text-align: center;
    }
    
    .top-content__text{
      text-align: center;
      font-size:24px;
      color:#fff;
      margin-top: 20px;
    }
    
    .top-content__summary{
      font-size: 20px;
      margin:35px 50px ;
    }
    
    .work-thumbnail{
      text-align:center;
    }
    
    .work-content__icons{
      font-size:0;
      transition: .3s;
      opacity: .7;
    }
    
    .work-content__icons:nth-child(4){
      margin-top:80px;
    }
    
    .work-content__icons:hover{
      opacity: 1;
    }
    
    /*文字を囲むタグ*/
    .work-summary{
      margin-top:80px;
      text-align: center;
    }
   
    .work-summary__text{
      padding-bottom:40px;
    }

    .skills-items{
      margin-top:88px;
    }
    
    .skills-items:first-child{
      margin-top:0;
    }
    
    .sns_inner{
      text-align: center;
      padding:50px 10px;
    }
    
    .sns-content_icons{
      color: #74cfae;
      width: 80%;
      padding:10px;
      transition: .3s;
    }
    
    .sns-content_icons:hover{
      width: 80%;
      background-color:#fff;
    }
  }